.post-content {
  padding: 10px;
}

.post-content h1 {
  @apply py-8 text-4xl font-extrabold;
}

.post-content h2 {
  @apply py-6 text-3xl font-bold;
}

.post-content h3 {
  @apply py-5 text-2xl font-bold;
}

.post-content h4 {
  @apply py-4 text-xl font-semibold;
}

.post-content p {
  margin-bottom: 10px;
  line-height: 1.6;
}

.post-content a {
  @apply font-semibold text-primary underline;
}

.post-content ul,
.post-content ol {
  margin-left: 20px;
  margin-bottom: 16px;
}

.post-content ol {
  list-style-type: decimal;
}

.post-content ul {
  list-style-type: disc;
}

.post-content li {
  margin-bottom: 6px;
}

.post-content blockquote {
  border-left: 4px solid #ccc;
  padding-left: 15px;
  margin: 0;
}

.post-content code {
  background-color: #f5f5f5;
  padding: 2px 4px;
  border: 1px solid #ddd;
}

.post-content img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 15px auto;
}

.post-content strong {
  font-weight: bold;
}

.post-content em {
  font-style: italic;
}

.post-content u {
  text-decoration: underline;
}

.post-content del {
  text-decoration: line-through;
}
