@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 263.4 70% 50.4%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  .gradientbackground {
    background: linear-gradient(
      180deg,
      hsla(0, 0%, 0%, 0) 0%,
      hsla(0, 0%, 0%, 0.3) 10%,
      hsl(0, 0%, 0%) 100%
    );
  }

  .hero {
    background-image: linear-gradient(
      to right,
      #09f1b8,
      #00a2ff,
      #0f47fe,
      #00a2ff,
      #09f1b8
    );
    word-spacing: 16px;
    -webkit-text-stroke-color: transparent;
    -webkit-text-stroke-width: calc(1em / 16);
    @apply bg-clip-text text-[#000119];
  }

  .wrong {
    @apply bg-red-500;
  }

  .correct {
    @apply bg-green-500;
  }

  .active {
    @apply border-b-2 border-primary-200;
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: whitesmoke;
}

@media print {
  .page-break {
    page-break-before: always;
  }

  .print-content {
    max-width: 100%;
  }
  .footer {
    @apply fixed bottom-0 w-full bg-cyan-600 p-2 text-center text-white;
  }
  .border-for-print {
    box-shadow:
      0 0 0 1px black,
      0 0 0 2px black;
  }
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
}
