@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#000119] text-slate-50;
}

.gradientbackground {
  background: linear-gradient(
    180deg,
    hsla(0, 0%, 0%, 0) 0%,
    hsla(0, 0%, 0%, 0.3) 10%,
    hsl(0, 0%, 0%) 100%
  );
}

.hero {
  background-image: linear-gradient(
    to right,
    #09f1b8,
    #00a2ff,
    #0f47fe,
    #00a2ff,
    #09f1b8
  );
  word-spacing: 16px;
  -webkit-text-stroke-color: transparent;
  -webkit-text-stroke-width: calc(1em / 16);
  @apply text-[#000119] bg-clip-text;
}

